<% layout('../_layout') %>
<div class="ui-block">
  <div class="ui-block-title"><h5>Ajout d'un produit</h5></div>
  <div class="ui-block-content">
    <form action="/ecproduct/create" method="POST" class="form" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <div class="form-group">
        <label for="name" class="control-label">Nom du produit</label>
        <input type="text" id="name" name="product[name]" class="form-control" placeholder="Nom de la catégorie" requuired="required" autofocus>
      </div>
      <div class="form-group">
        <label for="reference" class="control-label">Référence</label>
        <input type="text" id="reference" name="product[reference]" class="form-control" placeholder="Référence du produit" requuired="required">
      </div>
      <div class="form-group">
        <label for="thumbnail" class="control-label">Image du produit</label>
        <input type="file" id="thumbnail" name="thumbnail" class="form-control" placeholder="Référence du produit" requuired="required">
      </div>
      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea name="product[description]" id="description" cols="30" rows="10" required="required" class="form-control" placeholder="Description de votre produit"></textarea>
      </div>
      <div class="form-group">
        <label for="price" class="control-label">Prix</label>
        <input type="number" id="price" step="any" name="product[price]" class="form-control" placeholder="Prix du produit" requuired="required">
      </div>
      <div class="form-group">
        <label for="quantity" class="control-label">Quantité</label>
        <input type="number" id="quantity" name="product[quantity]" class="form-control" placeholder="Quantité du produit" requuired="required">
      </div>
      <div class="form-group">
        <label for="category" class="label-control">Catégorie</label>
        <select name="product[EcCategoryId]" id="category" class="form-control">
          <% categories.forEach(function(category){ %>
            <option value="<%-category.id%>"><%-category.name%></option>
          <% }); %>
        </select>
      </div>
      <input type="submit" value="Enregistrer" class="btn">
      <div class="clear"></div>
    </form>
  </div>
</div>
