.ui-tool{
	ul{
		margin: 0;
		padding: 0;

		li{
			float: left;
			background-color: #FF931E;
			margin: 10px;
			cursor: pointer;
			list-style: none;
			@include border-radius(20px);
			@include transition-property(all);
      		@include transition-duration(0.1s);
      		@include transition-timing-function(ease-in);

			a{
				color: $white;
				display: block;
				padding: 15px;

				.icon{
					display: block;
					margin: 10px auto;
				}
			}

			&:hover{
				background-color: darken($orangeColor, 10%);
				@include box-shadow(0 0 30px darken($orangeColor, 20%) inset);
				@include box-shadow(0 0 10px darken($white, 25%));
				@include transform(translate(-2px, -2px));
			}
		}
	}
}