<% layout('../_layout') %>
<div class="ui-block">
  <div class="ui-block-title"><h5>Ajout d'une boutique</h5></div>
  <div class="ui-block-content">
    <form action="/offerstore/create" method="POST" class="form" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">

      <div class="form-group">
        <label for="name" class="control-label">Nom de la boutique</label>
        <input type="text" id="name" name="offerstore[name]" class="form-control" placeholder="Nom de la boutique" required autofocus>
      </div>

      <div class="form-group">
        <label for="logo" class="control-label">Lien du logo</label>
        <input type="text" id="logo" name="offerstore[logo]" class="form-control" placeholder="Lien du logo de la boutique" required>
      </div>

      <div class="form-group">
        <label for="presentation" class="control-label">Présentation</label>
        <textarea name="offerstore[presentation]" class="form-control" id="presentation" cols="30" rows="10" placeholder="Texte de présentation"></textarea>
      </div>

      <div class="form-group">
        <label for="fixedLinePhone" class="control-label">Téléphone fixe</label>
        <input type="text" id="fixedLinePhone" name="offerstore[fixedLinePhone]" class="form-control" placeholder="Téléphone fixe">
      </div>

      <div class="form-group">
        <label for="mobilePhone" class="control-label">Téléphone portable</label>
        <input type="text" id="mobilePhone" name="offerstore[mobilePhone]" class="form-control" placeholder="Téléphone portable">
      </div>

      <div class="form-group">
        <label for="fax" class="control-label">Fax</label>
        <input type="text" id="fax" name="offerstore[fax]" class="form-control" placeholder="Fax">
      </div>

      <div class="form-group">
        <label for="email" class="control-label">E-mail</label>
        <input type="mail" id="email" name="offerstore[email]" class="form-control" placeholder="E-mail">
      </div>

      <div class="form-group">
        <label for="website" class="control-label">Site internet</label>
        <input type="web" id="website" name="offerstore[website]" class="form-control" placeholder="Site internet">
      </div>

      <div class="form-group">
        <label for="openingHours" class="control-label">Horaires d'ouverture</label>
        <textarea name="offerstore[openingHours]" class="form-control" id="openingHours" cols="30" rows="10" placeholder="Horaires d'ouverture"></textarea>
      </div>

      <div class="form-group">
        <label for="photos">Images</label>
        <input type="file" name="photos" class="form-control" placeholder="Images des boutiques" multiple>
        <p class="help-block">Format : JPEG</p>
      </div>

      <hr>

      <div class="form-group">
        <label for="lat" class="control-label">Lattitude</label>
        <input type="text" id="lat" name="storeaddress[lat]" class="form-control" placeholder="Lattitude" required>
      </div>

      <div class="form-group">
        <label for="lng" class="control-label">Longitude</label>
        <input type="text" id="lng" name="storeaddress[lng]" class="form-control" placeholder="Longitude" required>
      </div>

      <div class="form-group">
        <label for="address" class="control-label">Adresse</label>
        <input type="text" id="address" name="storeaddress[address]" class="form-control" placeholder="Adresse" required>
      </div>

      <div class="form-group">
        <label for="cp" class="control-label">Code postale</label>
        <input type="text" id="cp" name="storeaddress[cp]" class="form-control" placeholder="Code postale" required>
      </div>

      <div class="form-group">
        <label for="city" class="control-label">Ville</label>
        <input type="text" id="city" name="storeaddress[city]" class="form-control" placeholder="Ville" required>
      </div>

      <div class="form-group">
        <label for="complementary_address" class="control-label">Adresse complémentaire</label>
        <input type="text" id="complementary_address" name="storeaddress[complementary_address]" class="form-control" placeholder="Adresse complémentaire" required>
      </div>

      <input type="submit" value="Enregistrer" class="btn">
      <div class="clear"></div>
    </form>
  </div>
</div>
