<% if( options.modules.ecommerce.state ) { %>
<ul>
  <li>
    <a href="/ecommerce"><icon class="icon icon-ecommerce"></icon>E-Commerce</a>
  </li>
  <li class="ui-left-bar-divider"></li>
</ul>
<% } %>