<% layout('../_layout') %>
<div class="panel">
  <div class="ui-tool">
    <ul>
        <li><a href="/event/new">Ajouter événement</a></li>
        <li><a href="/event/category">Mes catégories</a></li>
        <li><a href="/event/category/new">Ajouter une catégorie</a></li>
      <div class="clear"></div>
    </ul>
  </div>
</div>
<div class="space10"></div>
<div class="ui-block">
  <div class="ui-block-title">Liste des événements</div>
  <div class="ui-block-content">
    <div id='calendar'></div>
  </div>
</div>
<div class="clear"></div>
