<% layout('../_layout'); %>
<div class="grid-6 alpha">
  <div class="panel">
    <div class="ui-tool">
      <ul>
        <li><a href="/offer/_index"><span class="icon icon-card"></span>Liste des offres</a></li>
        <li><a href="/offertype/_index"><span class="icon icon-category"></span>Liste des types d'offres</a></li>
        <li><a href="/offercategory/_index"><span class="icon icon-category"></span>Liste des catégories</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div class="space10"></div>
  <div class="ui-block">
    <div class="ui-block-title"><h5>Liste des dernieres promotions</h5></div>
    <div class="ui-block-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% offers.forEach(function(offer){ %>
            <tr>
              <td><%=formatDate(offer.startDate)%></td>
              <td><%=formatDate(offer.endDate)%></td>
              <td><%=offer.description.substr(0, 20)%>...</td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="grid-6 omega">
  <div class="panel">
    <div class="ui-tool">
      <ul>
        <li><a href="/offerstore/_index"><span class="icon icon-ecommerce"></span>Liste des boutiques</a></li>
        <li><a href="/storeaddress/_index"><span class="icon icon-map"></span>Liste des adresses</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div class="space10"></div>
  <div class="ui-block">
    <div class="ui-block-title"><h5>Liste des dernieres boutiques</h5></div>
    <div class="ui-block-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Nom de la boutique</th>
            </tr>
          </thead>
          <tbody>
            <% offerstores.forEach(function(store){ %>
            <tr>
              <td><%=store.name%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
