<html>
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Gestiaweb - Connexion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/stylesheets/bottom.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body class="login parallax">
    <script src="/javascripts/vendors/jquery.min.js"></script>
    <script src="/javascripts/vendors/jquery.parallaxify.min.js"></script>
    <script src="/javascripts/bottom.js"></script>
    <%-partial('_shared/_flash')%>
    <%-body%>
  </body>
</html>
